@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
 --fuente-inter: 'Inter',sans-serif;
 --color-primario: #AEADF0;
 --color-secundario: #f6f6f6;
 --color-terciario: #565676;
 --color-cuaternario: #6819f0;
 --color-botones: #8c79f7;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color:  var(--color-primario);
    font-family: 'Arial', sans-serif; 
}

.texto_titulo {
    color: var(--color-secundario);
    font-size: 2.5 rem;
}

.header {
    display: flex;
    background-color:var(--color-terciario);
    padding: 2%;
    gap: 300px;
    align-items: center;
}

.imagen_d {
    width: 5%;
    height: 5%;
}

.presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}


.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.input {
    background-color: var(--color-primario);
    border: 0;
    outline: none;
    color:var(--color-secundario);
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 50%;
    padding-left: 50%;
    margin-top: 10%;
    font-family: var(--fuente-inter); 
    
}

.input::placeholder {
    color: rgb(0, 29, 143);
    font-family: var(--fuente-inter); 
}

.bloque {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10% 0% 0% 60%;
}

.instruccion {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #6f7675;
}

.botones {
    display: flex;
    gap: 40px;
}

.diseño_botones {
    border-radius: 30px;
    border: 2px solid var(--color-cuaternario);
    padding: 20px 70px;
    color:var(--color-secundario);
    font-size: 1 rem;
    background-color: var(--color-botones);
    
}

.diseño_botones:hover {
background-color: var(--color-terciario);
}
.gif {
    width: 80%;
    height: 80%;
   
}
.espacio_encriptacion {
    background-color: var(--color-secundario);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 25%;
    margin:1%;
    justify-content: center;
    padding: 3%;
    overflow: auto;
 
}

 
.diseño_boton_copiar{
    border-radius: 30px;
    border: 2px solid var(--color-cuaternario);;
    padding: 20px 90px;
    margin-top: 15%;
    font-size: 1 rem;
    background-color: var(--color-botones);
    color:var(--color-secundario);
   
}

.diseño_boton_copiar:hover {
    background-color: var(--color-terciario);
}

#encriptacion3 {
    color:#4d5150 ;
}


.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-secundario);
    text-align: center;
}

@media (max-width: 930px ){

    .header {
        padding: 5%;
        padding-left:10%;
        gap: 140px;
    }
    .input{
        padding-left: 0;
    }
    .presentacion{
        flex-direction: column;
        
    }

    .bloque{
       padding-left: 10%;
      
    }
    .espacio_encriptacion {
   width: 80%;
   margin: 8%;
   margin-left: 12%;                
    }
    .gif {
        display: none;
    }
    .diseño_boton_copiar{
     padding: 20px 200px;
    }

}

@media (max-width: 550px ){
    .header {
        padding: 5%;
        padding-left:5%;
        padding-right:34%;
        gap: 100px;
        width: 100%;
    }
    .bloque{
        padding-left: 35%;
       
     }
 
    .espacio_encriptacion {
        width: 90%;
        margin: 8%;
        margin-left: 45%;                
     }
     .footer {
        width: 100%;
        padding-right:20%;
       padding-left: 20%;
    }

}

